<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <h2>Save your link</h2>

    <!-- Para onde queremos enviar a req, o att name é importante
    / Remover required para mostrar mensagem de error -->
    <form action="/" method="POST">
        <input class="field-input" type="text" name="title"  placeholder="title" required value="<%= body.title %>" /> 
        <input class="field-input" type="text" name="description" placeholder="description" required  value="<%= body.description %>"/> 
        <input class="field-input" type="text" name="url"  placeholder="url" required value="<%= body.url %>"/> 
        <button>Save</button>
    </form>

    <h2><a href="/">All Links</a></h2>
    

    <% if(error){ %>
       <h3><%=error.message%></h3> 
    <% } %>
</body>
</html>